.top-image {
    position: relative;
    z-index: 999; /* Đảm bảo hình ảnh đầu tiên nằm trên cùng */
}

.bottom-image {
    position: static;
    z-index: 999; /* Đảm bảo hình ảnh đầu tiên nằm trên cùng */
}